@model BookKeeper.Models.Book

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="alert-success panel-heading alert__custom__margin">
        <h2>Введіть дані для нової книги</h2>
    </div>

    @using (Html.BeginForm("Create", "Home", FormMethod.Post))
    {

        foreach (var property in ViewData.ModelMetadata.Properties)
        {
            if (property.PropertyName != "Id")
            {
                <div class="form-group edit__block">
                    <label>@(property.DisplayName ?? property.PropertyName)</label>

                    @if (property.PropertyName == "Description")
                    {
                        @Html.TextArea(property.PropertyName, null, new {@class = "form-control", rows = 5})
                    }
                    else
                    {
                        @Html.TextBox(property.PropertyName, null, new {@class = "form-control"})
                    }
                    @Html.ValidationMessage(property.PropertyName)
                </div>
            }
        }

        <div class="panel-footer">
            <input class="btn btn-success" type="submit" value="Add"/>
            @Html.ActionLink("Cansel", "Index", null, new {@class = "btn btn-warning"})
        </div>
    }
</div>